---
version: 3
  swag:
    image: lscr.io/linuxserver/swag:latest 
    container_name: swag
    hostname: mattijs.sh
    cap_add:
      - NET_ADMIN
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - URL=mattijs.sh
      - VALIDATION=http #or dns
      - SUBDOMAINS=www,compiler,compiler-proxy #+ each subdomain you have in form of x,y,z
      - CERTPROVIDER= #optional
      - DNSPLUGIN=ovh #optional
      - PROPAGATION= #optional
      - EMAIL= #optional
      - ONLY_SUBDOMAINS=false #optional
      - EXTRA_DOMAINS= #optional
      - STAGING=false #optional
    ports:
      - 443:443
    volumes:
      - /nginx/ssl:/etc/nginx/
      - /nginx/conf/:/etc/nginx/conf.d
    links:
      #- ghost
      - compiler_backend
      - compiler_frontend
        #- nextcloud
        #- monitoring
    restart: always
  compiler_backend:
    image: matroo/backend:1.2
    container_name: backend

  compiler_frontend:
    image: matroo/frontend:1.6
    container_name: frontend
